# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform crash logs
crash.log

# Environment variables
*.tfvars.json
.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Don't commit env secrets
environments/*/*.tfvars
